<spinner *ngIf="! post"></spinner>

<div class="flex justify-center mt-20" *ngIf="post">
  <div class="card md:w-7/12 flex flex-col mt-20" *ngIf="!show">

    <li class="badge">{{post.id}}
    </li>
    <h2 class="card-title">
      {{ post.title}}
    </h2>
    <p class="text-base">{{ post.body }}</p>

    <div class="flex justify-end my-5">
      <i class="fas fa-edit fa-2x btn-icons" (click)="showUpdate()"></i>
      <i class="far fa-trash-alt fa-2x m-4 btn-icons" (click)="delete()"></i>
    </div>
  </div>

  <form class="flex flex-col fade-in" *ngIf="show" #postForm="ngForm" (ngSubmit)="update(postForm.value)">

    <input #title="ngModel" type="text" class="card search form-control" placeholder="Enter Title " id="title" required
      ngModel name="title" />

    <textarea class="card search" name="post" cols="30" rows="10" placeholder="Enter your post" id="body" required
      ngModel name="body"></textarea>

    <div class="flex justify-center">
      <button type="submit" class="update-btn">
        Update
      </button>
      <button class="back-btn" (click)="showUpdate()">
        Back
      </button>

    </div>
  </form>
</div>